
@{
    Layout = "~/Views/Shared/_DepartementLayout.cshtml";
}

<html>
<head>

    <link rel="stylesheet" href="~/Content/css/importation.css" />
</head>
<body id="thisone">

    <br />
    <br />
    <br />
    <br />
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <a class="button" href="#popup">Importer des notes</a>
    <div class="popup" id="popup">
        <div class="popup-inner">
            <div class="popup__import">
                @using (Html.BeginForm("ImporterNoteExcel", "Departement", FormMethod.Post, new { @class = "form-style-7", enctype = "multipart/form-data" }))
                {

                    <h3 style="text-align:center">

                        <center>
                            <i class="material-icons">library_books</i>
                            Importer les Notes
                        </center>
                    </h3>
                    <br /><br />

                    <ul>

                        <li>
                            <div class="text">
                                <span id="text-description">
                                    La departement doit charger un fichier EXCEL (cne, note1,note2) qui contient les notes des etudiants, noter bien que cette tache ne peut pas etre effectue sans le chargement des etudiant :
                                    <br />
                                    <br />
                                    1-  Choisir le fichier.<br />
                                    <br />
                                    2-  Cliquer sur importer pour charger les donnees dans la Database.<br />
                                </span>
                            </div>
                        </li>
                        <li>
                            <input class="excelfile" type="file" name="excelfile" placeholder="File.xls" />
                            <br />
                        </li>




                        <li>
                            @if (ViewBag.errI != null)
                            {
                                <script>
                                    alert('Probleme dans le fichier, verifier l\'extension')</script>
                            }

                            @if (ViewBag.err != null)
                            {
                                <h1 class="text-danger">Vous devez charger les etudiants !</h1>
                                <input type="submit" class="btn import" value="Importer" hidden />
                            }
                            else
                            {
                                <input type="submit" class="btn import" value="Importer" />

                            }
                        </li>
                    </ul>
                    <a class="popup__close" href="#">X</a>
                }
            </div>
        </div>
      
        <script type="text/javascript">
            //auto expand textarea
            function adjust_textarea(h) {
                h.style.height = "20px";
                h.style.height = (h.scrollHeight) + "px";
            }
        </script>
</body>
</html>



